@font-face {
  font-family: 'Rubik';
  src: url('Rubik-Regular.ttf');
}

h1 {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  margin-bottom: 2em;
}

canvas {
  margin: auto;
  display: block;
}

footer {
  text-align: center;
  margin-top: 5em;
}
